
.print2 {
    position: relative;
    width: 612px;
    height: 792px;
    background: #FFFFFF;
    margin: auto;
}

.triangle {
    width: 612px;
  height: 184px;
  
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;  
}

.ellipse {
    position: absolute;
width: 146px;
height: 146px;
left: 233px;
top: 38px;
}

.header {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 85px;
height: 79px;
left: 47px;
top: 107px;

}

.title {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 85px;
height: 15px;
left: 0px;
top: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 16px;
}

.firstlast{
position: absolute;
width: 85px;
height: 15px;
left: 17px;
top: 0px;
font-family: Inter;
font-weight: bold;
font-size: 12px;
}

.contact {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 85px;
height: 48px;
left: 50px;
top: 138px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 16px;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 14px;
color: #646464;
}

.website{
position: static;
width: 85px;
height: 14px;
left: 0px;
top: 0px;

}

.mail {
    position: static;
width: 85px;
height: 14px;
left: 0px;
top: 17px;
}

.phone{
    position: static;
width: 85px;
height: 14px;
left: 0px;
top: 34px;

}

.experience{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 359px;
height: 366px;
left: 47px;
top: 206px;
}

.experiencetxt {
    position: static;
width: 67px;
height: 15px;
left: 0px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 19px;
margin-bottom: 13px;
}

.eblock1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 359px;
height: 101px;
left: 0px;
top: 31px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
}

.eblock2{

    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 359px;
height: 101px;
left: 0px;
top: 148px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 16px;
}

.poscomp2 {

    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 359px;
height: 45px;
left: 0px;
top: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 8px;
}

.txt2 {

    position: static;
height: 48px;
left: 0px;
right: 0px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 12px;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 2px;
margin-bottom: 8px;
}

.company {
    position: static;
height: 13px;
left: 0px;
right: 0px;
top: 0px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -5px;
}

.position{
    position: static;
height: 28px;
left: 0px;
right: 0px;
top: 17px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 8px;
line-height: 14px;
color: #646464;
flex: none;
order: 1;
flex-grow: 0;
margin: 1px -5px;
}

.eblock3{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 359px;
height: 101px;
left: 0px;
top: 265px;
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 16px;
}


.edublock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 371px;
    height: 118px;
    left: 51px;
    top: 592px;
    
}

.education{
    position: static;
width: 371px;
height: 15px;
left: 0px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 16px;
}

.uniblock{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 371px;
height: 87px;
left: 0px;
top: 31px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 16px;
}

.courses{
    position: static;
height: 13px;
left: 0px;
right: 12px;
top: 0px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;
}

.gradu{
    position: static;
height: 14px;
left: 0px;
right: 12px;
top: 17px;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 14px;
color: #646464;
flex: none;
order: 1;
flex-grow: 0;
margin: -10px 0px;
}

.txtedu{
    position: static;
height: 48px;
left: 0px;
right: 0px;
top: 0px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 12px;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: -15px 16px;
}

@media(max-width: 420px){

    .triangle2 {
    width: 410px;
    }

    .ellipse {
        position: absolute;
    width: 146px;
    height: 146px;
    left: 160px;
    top: 38px;
    }

    body{
        width: max-content;
    }

    .print2 {
        position: relative;
        width: 4px;
        height: 792px;
        background: #FFFFFF;
        margin: auto;
    }

    .experience{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 359px;
    height: 366px;
    left: 5px;
    top: 206px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 85px;
        height: 48px;
        left: 5px;
        top: 138px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 14px;
        color: #646464;
        }

        .firstlast{
            position: absolute;
            width: 85px;
            height: 15px;
            left: -25px;
            top: 0px;
            font-family: Inter;
            font-weight: bold;
            font-size: 12px;
            }
            .edublock {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                
                position: absolute;
                width: 371px;
                height: 118px;
                left: 6px;
                top: 592px;
                
            }

            .triangle {
                width: 420px;
              height: 184px;
              
              opacity: 1;
              position: relative;
              top: 0px;
              left: 0px;  
            }
}
